<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 商品詳細 - E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/product.css}" />
</head>

<body>
    <div th:replace="fragments/headerLogined :: header"></div>

    <main>
        <div class="page-path" style="margin-bottom: 20px;">
            <a th:href="@{/index}">メイン＞</a>
            <a th:href="@{/productList}">商品一覧＞</a>
            <a th:href="@{/productDetail}">商品詳細</a>
        </div>

        <div class="probDetail-content">
            <img th:src="${product.imagePath}" alt="商品写真" class="img-default-banner" />

            <div class="div-default-form">
                <img th:src="@{/images/icon/productdetail.png}" alt="サブタイトル" class="img-default-subtitle" />

                <form th:action="@{/cartIn}" method="post" th:object="${cartForm}" class="prodDetail-form">
                    <input type="hidden" th:field="*{productId}" />

                    <div class="probDetail-grid2 probDetail-partion">
                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">カテゴリー</label>
                            <span class="probDetail-span1" th:text="${categoryName}"
                                style="overflow: hidden;">カテゴリー</span>
                        </div>

                        <div>
                            <label class="prodDetail-label">商品名</label>
                            <span class="probDetail-span4" th:text="${product.productName}">商品名</span>
                        </div>
                    </div>

                    <div class="probDetail-partion">
                        <label class="prodDetail-label">キーワード</label>
                        <span class="probDetail-span3" th:text="|＃${keywordName}|">#キーワード</span>
                    </div>

                    <div class="probDetail-grid2 probDetail-partion">
                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">製造国</label>
                            <span class="probDetail-span1" th:text="${countryName}">製造国</span>
                        </div>

                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">製造年月</label>
                            <span class="probDetail-span1" th:text="${product.manufactureDate}">製造年月</span>
                        </div>
                    </div>

                    <div class="probDetail-partion">
                        <span class="probDetail-span2" th:text="${product.description}">商品説明</span>
                    </div>

                    <div class="probDetail-grid2 probDetail-partion">
                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">サイズ</label>
                            <select class="prodDetail-select" th:field="*{sizeId}">
                                <option value="" disabled selected>--サイズ--</option>
                                <option value="1">- S -</option>
                                <option value="2">- M -</option>
                                <option value="3">- L -</option>
                                <option value="4">- XL -</option>
                            </select>
                        </div>
                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">数量</label>
                            <input type="number" th:field="*{quantity}" class="prodDetail-numbers" min="1" max="99"
                                value="0" required />
                        </div>
                    </div>

                    <div class="probDetail-grid2 probDetail-partion">
                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">定価</label>
                            <span class="probDetail-span1" th:text="|￥${product.regularPrice}|">定価</span>
                        </div>
                        <div class="probDetail-grid2">
                            <label class="prodDetail-label">販売価格</label>
                            <span class="probDetail-span1" th:text="|￥${product.salePrice}|">販売価格</span>
                        </div>
                    </div>

                    <div class="probDetail-buttondiv">
                        <button class="probDetail-button">購入</button>
                        <a th:href="@{session.userId != null} ? '/productList' : '/index'"
                            class="probDetail-button">戻る</a>
                    </div>
                </form>

                <form method="get" class="admin-button">
                    <input type="hidden" name="productId" th:value="${product.productId}" />
                    <button th:if="${session.roleId == 1}" type="submit" class="probDetail-button"
                        formaction="/productUpdate">修正</button>
                    <button th:if="${session.roleId == 1}" type="submit" class="probDetail-button"
                        formaction="/productDelete">削除</button>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>