<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
</head>
<body>
    <div th:fragment="header">
        <header class="header-base">
            <div class="header-div1">
                <img th:src="@{/images/icon/menuIcon.png}" class="img-header-menuicon" />
            </div>
            <div class="header-div2">
                <img th:src="@{/images/icon/webTitle.png}" class="img-header-webtitle" />
            </div>
            <div class="header-div3">
                <span class="span-header-nowuser">ようこそ、user様</span>
                <img th:src="@{/images/icon/nowuser.png}" class="img-header-nowuser" />
                <a href="">
                    <img th:src="@{/images/icon/chat-icon.png}" class="img-header-chaticon" />
                </a>
                <a th:href="@{/purchase/purcCargo}">
                    <img th:src="@{/images/icon/cart-icon.png}" class="img-header-carticon" />
                </a>
            </div>
        </header>
    </div>
</body>
</html>
