<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 購入履歴 - E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/purchase.css}" />
</head>
<body>
    <!-- ヘッダー -->
    <div th:replace="fragments/headerLogined :: header"></div>
        
    <!-- メイン -->
    <main>

        <!-- 現在ページ経路 -->
        <div class="page-path" style="width: 1100px; margin-bottom: 20px;">
            <a th:href="@{/index}">メイン＞</a>
            <a th:href="@{/mypage}">マイページ＞</a>
            <a th:href="@{/purchaseHistory}">購入履歴検索</a>
        </div>

        <div class="main-user-content">
            <!-- バーナー（左側） -->
            <img th:src="@{/images/photo/mypagebanner.png}" alt="バーナー" class="img-default-banner"  />

            <!-- ログインフォーム（右側） -->
            <div class="div-default-form">
                
                <!-- サブタイトル -->
                <img th:src="@{/images/icon/history.png}" alt="サブタイトル" class="img-default-subtitle userPage-partion" style="margin-bottom: 20px;" />

                <form th:action="@{/purchaseHistory}" method="post" th:object="${searchForm}">
                    <div class="purchase-searchbox">

                        <!-- 検索条件 -->
                        <select th:field="*{searchCondition}" class="purchase-button">
                            <option value="">--条件--</option>
                            <option value="productName">商品名</option>
                            <option value="price">価格</option>
                        </select>

                        <!-- 検索語 -->
                        <input type="text" th:field="*{searchKeyword}" placeholder="検索語を入力してください" class="purchase-button" />

                        <!-- 並び順 -->
                        <select th:field="*{sortBy}" class="purchase-button">
                            <option value="">--並び順--</option>
                            <option value="date">日付順</option>
                            <option value="quantity">数量順</option>
                            <option value="price">金額順</option>
                        </select>

                        <!-- 検索ボタン -->
                        <input type="submit" value="検索" class="purchase-button purchase-researchbutton"/>
                    </div>
                </form>
                <form th:action="@{/purchaseHistory/delete}" method="post" class="purchase-form">
                    <div>
                        <table>
                            <tr class="purchase-history">
                                <th>順番</th>
                                <th>数量</th>
                                <th style="width: 140px;">価格</th>
                                <th style="width: 140px;">日付</th>
                                <th>選択</th>
                            </tr>
                            <tr class="purchase-history" th:each="history, stat : ${purchaseList}">
                                <td th:text="${stat.count}"></td>
                                <td th:text="${history.quantity}"></td>
                                <td th:text="|￥${history.totalPrice}|"></td>
                                <td th:text="${#temporals.format(history.purchasedAt, 'yyyy/MM/dd')}"></td>
                                <td>
                                    <input type="checkbox" th:value="${history.purchaseId}" name="selectedIds" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="purchase-flexbox">
                        <div>
                            <span>◀ 1 2 3 4 5 ▶</span>
                        </div>
                        <div style="display: flex; gap: 15px;">
                            <input type="submit" value="選択削除" class="purchase-actionbutton" />
                            <a th:href="@{/mypage}" class="purchase-actionbutton" style="text-decoration: none; display: inline-block; text-align: center;">戻る</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- フッター -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>