<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 商品カート - E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/product.css}" />
</head>

<body>
    <!-- カート追加完了メッセージ -->
    <div th:if="${successCartIn}">
        <script th:inline="javascript">
            alert('[[${successCartIn}]]');
        </script>
    </div>

    <div th:replace="fragments/headerLogined :: header"></div>

    <main>

        <img th:src="@{/images/photo/shoppingcart.png}" alt="バーナー" class="prodView-banner" />


        <div class="page-path">
            <a th:href="@{/index}">メイン＞</a>
            <a th:href="@{/productList}">商品一覧＞</a>
            <a th:href="@{/cartList}">商品カート</a>
        </div>

        <img th:src="@{/images/icon/shoppingcartlist.png}" alt="サブタイトル" />

        <div class="purcCargo-checkbox">
            <div>
                <input type="button" value="全体選択" class="purcCargo-button1" />
                <input type="button" value="選択解除" class="purcCargo-button1" />
            </div>
            <input type="button" value="選択削除" class="purcCargo-button1" />
        </div>

        <div class="purcCargo-div" style="margin-bottom: 30px;">
            <form th:action="@{/choiceItem}" method="post" th:object="${choiceForm}">
                <table>
                    <tr class="purcCargo-tabletr1">
                        <th style="width: 60px;">順番</th>
                        <th style="width: 165px;">商品画像</th>
                        <th style="width: 280px;">商品名</th>
                        <th style="width: 80px;">サイズ</th>
                        <th style="width: 90px;">数量</th>
                        <th style="width: 145px;">購入価格</th>
                        <th style="width: 145px;">追加日時</th>
                        <th style="width: 60px;">選択</th>
                    </tr>
                    <tr th:each="item, stat : ${cartList}" class="purcCargo-tabletr1">
                        <td th:text="${stat.count}">1</td>
                        <td><img th:src="@{${item.imagePath}}" style="width: 165px;" /></td>
                        <td th:text="${item.productName}">商品名</td>
                        <td th:text="${item.sizeName}">サイズ</td>
                        <td th:text="${item.quantity}">数量</td>
                        <td th:text="'￥'+${item.salePrice}*${item.quantity}">購入価格</td>
                        <td th:text="${item.addedAtFormatted}">追加日時</td>
                        <td><input type="checkbox" th:field="*{cartIds}" th:value="${item.cartId}" /></td>
                    </tr>
                </table>
                <div class="purcCargo-buttonbox">
                    <button type="submit" class="purcCargo-button2">確定</button>
                </div>
            </form>
        </div>

        <div class="purcCargo-div">
            <img th:src="@{/images/icon/total.png}" alt="パートタイトル" class="prodView-parttitle" />
            <form th:action="@{/purchase}" method="post" th:object="${purchaseForm}">
                <th:block th:each="id : ${purchaseForm.cartIds}">
                    <input type="hidden" name="cartIds" th:value="${id}" />
                </th:block>
                <table>
                    <tr class="purcCargo-tabletr2">
                        <th style="width: 135px;">総数量</th>
                        <th style="width: 200px;">総価格</th>
                        <th style="width: 200px;">税込み</th>
                        <th style="width: 200px;">ポイント</th>
                        <th style="width: 300px;">クーポン</th>
                    </tr>
                    <tr class="purcCargo-tabletr2">
                        <td th:if="${totalQuantity}" th:text="${totalQuantity}">総数量</td>
                        <td th:if="${totalPrice}" th:text="|￥${totalPrice}|">総価格</td>
                        <td th:if="${taxIncludedPrice}" th:text="|￥${#numbers.formatDecimal(taxIncludedPrice, 0, 0)}|">
                            税込み</td>
                        <td th:if="${point}" th:text="|${#numbers.formatDecimal(point, 0, 0)}pt|">ポイント</td>
                        <td th:if="${point}"><input type="button" value="クーポン" class="purcCargo-button1" /></td>
                    </tr>
                </table>

                <!-- <input type="hidden" th:field="*{cartId}" /> -->
                <input type="hidden" th:field="*{totalQuantity}" />
                <input type="hidden" th:field="*{totalPrice}" />
                <input type="hidden" th:field="*{taxIncludedPrice}" />
                <input type="hidden" th:field="*{point}" />

                <div class="purcCargo-buttonbox">
                    <button class="purcCargo-button2">決済</button>
                    <a th:href="@{session.userId != null} ? '/productList' : '/index'" class="purcCargo-button2">戻る</a>
                </div>
            </form>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>