/* default */

/* ボディー */
body{
    margin: 0;
    background-color: black;
}

/* ヘッダー */
.header-base{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
    background-color: black;
    align-items: center;
}

.header-div1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.header-div2{
    display: flex;
    justify-content: center;
}

.header-div3{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;
    align-items: center;
}

.button-header-default{
    text-decoration: none;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
}

/* ヘッダー（ログイン済） */
.span-header-nowuser{
    font-size: 18px;
    color: white;
}

.modal-menu-box{
    width: 210px;
    height: 390px;
    background: #353535;
    left: 2%;
    top: 50%;
    border-radius: 10px;
    border: 1px soid white;
    position: absolute;
    flex-direction: column;
    z-index: 1000;
}

.modal-menu-contents{
    width: 100%;
    height: 100%;
    color: #b7c9bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
}

.modal-menu-contents a {
    text-decoration: none;
    color: #b7c9bd;
}

.modal-menu-contents span:hover,
.modal-menu-contents a:hover{
    color: white;
}

.modal-user-box{
    width: 170px;
    height: 200px;
    background: #353535;
    right: 8%;
    top: 70%;
    border-radius: 10px;
    border: 1px soid white;
    position: absolute;
    flex-direction: column;
    z-index: 1000;
}

.modal-user-contents{
    width: 100%;
    height: 100%;
    color: #b7c9bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}

.modal-user-contents a {
    text-decoration: none;
    color: #b7c9bd;
}

.modal-user-contents span:hover,
.modal-user-contents a:hover{
    color: white;
}

.img-header-nowuser{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/* メイン */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}

/* ユーザー画面 */
.main-user-content{
    width: 1100px;
    height: 630px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-default-banner{
    width: 53%;
}

.div-default-form {
    width: 47%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/photo/background1.png);
    flex-direction: column;
}

/* エラーメッセージ */
.validate-error{
    font-size: 13px;
    color: rgb(255, 104, 104);
}

/* フッター */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: lightgray;
}

.footer-div2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.footer-pre{
    box-sizing: border-box;
    width: 620px;
    border-radius: 0 5px 5px 0;
    margin: 8px 0;
    background: #3a3a3a;
    height: 79px;
    padding-top: 8px;
    font-size: 12px;
}

.select-footer-companys{
    width: 120px;
    height: 25px;
    border-radius: 5px;
}

.page-path{
    width: 1150px;
    display: flex;
    margin: 10px 0 0 30px;
}

.page-path a{
    text-decoration: none;
    color: lightgray;
    font-size: 15px;
}

.errorMessage {
    font-size: 15px;
    color: red;
}