/* purchase.html */

.purchase-form{
    width: 480px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

.purchase-history{
    background-color: #292929;
    font-size: 15px;
}

.purchase-history th{
    width: 80px;
}

.purchase-history td{
    text-align: center;
}

.purchase-flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.purchase-searchbox{
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.3fr 0.4fr;
    justify-items: stretch;
    align-items: center;
    width: 480px;
}

.purchase-button {
    box-sizing: border-box;
    height: 27px;
    border-radius: 5px;
}

.purchase-actionbutton{
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 4px 8px;
    border-radius: 5px;
}

.purchase-researchbutton{
    background-color: black;
    border: 1px solid white;
    color: white;
}