<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>

<body>
    <!-- ユーザー登録完了メッセージ -->
    <div th:if="${successRegistUser}">
        <script th:inline="javascript">
            alert('[[${successRegistUser}]]');
        </script>
    </div>

    <!-- ユーザー登録完了メッセージ -->
    <div th:if="${successLoginUser}">
        <script th:inline="javascript">
            alert('[[${successLoginUser}]]');
        </script>
    </div>
    
    <!-- ヘッダー（セッションによる出力）：実装完了 -->
    <th:block th:if="${session.loginId == null}">
        <div th:replace="~{fragments/header :: header}"></div>
    </th:block>
    <th:block th:if="${session.loginId != null}">
        <div th:replace="~{fragments/headerLogined :: header}"></div>
    </th:block>

    <!-- メイン：実装完了 -->
    <main>
        <div class="main-index-banner">
            <!-- バーナー画像およびリンク（セッションによる出力）：実装完了 -->
            <a th:href="${session.loginId != null} ? '/productList' : '/login'" class="banner-link">
                <div class="banner-overlay">
                    <img th:src="@{/images/photo/main-banner.png}" alt="バーナー" class="img-index-banner" />
                    <span class="see-more-text">SEE MORE</span>
                </div>
            </a>
        </div>
    </main>

    <!-- フッター：実装完了 -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>