<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 ログイン - E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
</head>
<body>
    <!-- ヘッダー -->
    <div th:replace="fragments/header :: header"></div>

    <!-- メイン -->
    <main>
        <div class="main-user-content">
            <!-- バーナー（左側） -->
            <img th:src="@{/images/photo/default-banner.png}" alt="バーナー" class="img-default-banner" />
            <!-- ログインフォーム（右側） -->
            <div class="div-default-form">
                <!-- サブタイトル -->
                <img th:src="@{/images/icon/signin.png}" alt="サブタイトル" class="img-default-subtitle" />
                <form action="" class="form-login">
                    <!-- ID入力 -->
                    <div class="form-login-partion">
                        <label for="loginId" class="form-login-label">ID</label>
                        <input type="text" id="loginId" class="form-login-input" /> 
                    </div>
                    <!-- パスワード入力 -->
                    <div class="form-login-partion">
                        <label for="password" class="form-login-label">PW</label>
                        <input type="password" id="password" class="form-login-input" /> 
                    </div>
                    <!-- ボタン -->
                    <div class="form-login-partion" style="margin-top: 20px;">
                        <button class="button-header-default">ログイン</button>
                        <button class="button-header-default">新規登録</button>
                    </div>
                    <!-- パスワード探す -->
                    <div>
                        <a th:href="@{/findPassword}" class="link-login-findPw">パスワードをお忘れの方はこちら</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- フッター -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>