<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 新規登録 - E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/regist.css}" />
</head>
<body>
    <!-- ヘッダー -->
    <div th:replace="fragments/header :: header"></div>

    <!-- メイン -->
    <main>
        <div class="main-user-content">
            <!-- バーナー（左側） -->
            <img th:src="@{/images/photo/default-banner.png}" alt="バーナー" class="img-default-banner" />

            <!-- 新規登録フォーム（右側） -->
            <div class="div-default-form">

                <!-- サブタイトル -->
                <img th:src="@{/images/icon/regist.png}" alt="サブタイトル" class="img-default-subtitle" />
                <!-- 処理エラーメッセージ -->
                <div class="validate-error">エラーメッセージ</div>

                <form action="" class="form-regist">
                    <!-- ID入力 -->
                    <div class="form-regist-partion">
                        <label for="loginId" class="form-regist-label">ID</label>
                        <input type="text" id="loginId" class="form-regist-input"/> 
                        <button class="button-regist-searchid">重複検査</button>
                    </div>
                    <!-- ID重複・桁数不適合エラーメッセージ -->
                    <div class="validate-error partion">エラーメッセージ</div>

                    <!-- パスワード入力 -->
                    <div class="form-regist-partion">
                        <label for="password" class="form-regist-label">パスワード</label>
                        <input type="password" id="password" class="form-regist-input" /> 
                    </div>
                    <!-- パスワードチェック入力 -->
                    <div class="form-regist-partion">
                        <label for="passCheck" class="form-regist-label">チェック</label>
                        <input type="password" id="passCheck" class="form-regist-input" /> 
                    </div>
                    <!-- パスワード不一致・桁数不適合エラーメッセージ -->
                    <div class="validate-error partion">エラーメッセージ</div>

                    <!-- 氏名入力 -->
                    <div class="form-regist-partion partion">
                        <label for="userName" class="form-regist-label">氏名</label>
                        <input type="text" id="userName" class="form-regist-input-s" placeholder="氏"/> 
                        <input type="text" class="form-regist-input-s" placeholder="名"/> 
                    </div>

                    <!-- 性別入力 -->
                    <div class="form-regist-partion partion">
                        <label class="form-regist-label">性別</label>
                        <label id="male">
                            <input type="radio" id="male" name="gender" value="male" checked> 男性
                        </label>
                        <label id="female">
                            <input type="radio" id="female" name="gender" value="female"> 女性
                        </label>
                    </div>

                    <!-- メール入力 -->
                    <div class="form-regist-partion partion">
                        <label for="email" class="form-regist-label">メール</label>
                        <input type="text" id="email" class="form-regist-input-s" /> 
                        <select id="email-domain" class="form-regist-select">
                            <option value="" selected>--選択--</option>
                            <option value="@gmail.com">gmail.com</option>
                            <option value="@yahoo.co.jp">yahoo.co.jp</option>
                            <option value="@outlook.com">outlook.com</option>
                            <option value="custom">その他</option>
                        </select>
                    </div>

                    <!-- 写真登録 -->
                    <div class="form-regist-partion">
                        <label class="form-regist-label">写真</label>
                        <img th:src="@{/images/photo/default-profile.png}" class="img-regist-profile" alt="プロフィール画像"  />
                    </div>
                    <div class="div-regist-file partion"><input type="file" name="photo" accept="images/*" class="file-regist" /></div>

                    <!-- キーワード入力 -->
                    <label class="form-regist-label">キーワード</label>
                    <div class="form-regist-partion">
                        <select id="keyword1" class="form-regist-select">
                            <option value="" selected>--選択--</option>
                            <option value="">キーワード</option>
                        </select>
                        <select id="keyword2" class="form-regist-select">
                            <option value="" selected>--選択--</option>
                            <option value="">キーワード</option>
                        </select>
                        <select id="keyword3" class="form-regist-select">
                            <option value="" selected>--選択--</option>
                            <option value="">キーワード</option>
                        </select>
                    </div>
                    <div class="text-regist-keyword partion">関心キーワードを3つ選択してください</div>

                    <!-- フォーム提出 -->
                    <div class="form-regist-partion2">
                        <button class="button-header-default">ログイン</button>
                        <button class="button-header-default">新規登録</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>