<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【 新規登録 - E T T E 】</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <div class="main-user-content">
            <img th:src="@{/images/photo/default-banner.png}" alt="バーナー" class="img-default-banner" />

            <div class="div-default-form">
                <img th:src="@{/images/icon/regist.png}" alt="サブタイトル" class="img-default-subtitle" />
                <div class="validate-div">
                    <div th:if="${titleError}" th:text="${titleError}" class="validate-error">エラーメッセージ</div>
                </div>

                <form th:action="@{/registUser}" method="post" th:object="${userRegistForm}" class="form-regist"
                    enctype="multipart/form-data">
                    <div class="form-regist-partion">
                        <label for="loginId" class="form-regist-label">ID</label>
                        <input type="text" th:field="*{loginId}" id="loginId" class="form-regist-input" />
                    </div>
                    <div class="validate-div">
                        <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="validate-error">
                        </div>
                    </div>

                    <div class="form-regist-partion">
                        <label for="password" class="form-regist-label">パスワード</label>
                        <input type="password" th:field="*{password}" id="password" class="form-regist-input" />
                    </div>
                    <div class="form-regist-partion">
                        <label for="passCheck" class="form-regist-label">チェック</label>
                        <input type="password" th:field="*{passCheck}" id="passCheck" class="form-regist-input" />
                    </div>
                    <div class="validate-div">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validate-error">
                        </div>
                        <div th:if="${#fields.hasErrors('passCheck')}" th:errors="*{passCheck}" class="validate-error">
                        </div>
                    </div>

                    <div class="form-regist-partion">
                        <label for="userName" class="form-regist-label">氏名</label>
                        <input type="text" th:field="*{lastName}" id="userName" class="form-regist-input-s"
                            placeholder="氏" />
                        <input type="text" th:field="*{firstName}" class="form-regist-input-s" placeholder="名" />
                    </div>
                    <div class="validate-div">
                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validate-error">
                        </div>
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validate-error">
                        </div>
                    </div>

                    <div class="form-regist-partion">
                        <label class="form-regist-label">性別</label>
                        <label for="gender-male">
                            <input type="radio" th:field="*{gender}" id="gender-male" value="male"> 男性
                        </label>
                        <label for="gender-female">
                            <input type="radio" th:field="*{gender}" id="gender-female" value="female"> 女性
                        </label>
                    </div>
                    <div class="validate-div">
                        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="validate-error"></div>
                    </div>

                    <div class="form-regist-partion">
                        <label for="email" class="form-regist-label">メール</label>
                        <input type="text" th:field="*{email}" id="email" class="form-regist-input-s" />
                        <select th:field="*{domain}" id="email-domain" class="form-regist-select">
                            <option value="" disabled selected>--選択--</option>
                            <option value="@gmail.com">gmail.com</option>
                            <option value="@yahoo.co.jp">yahoo.co.jp</option>
                            <option value="@outlook.com">outlook.com</option>
                            <option value="custom">その他</option>
                        </select>
                    </div>

                    <div class="form-regist-partion">
                        <label class="form-regist-label">写真</label>
                        <img id="previewImage"
                            th:src="${userRegistForm.imagePath != null} ? @{/images/photo/{file}(file=${userRegistForm.imagePath})} : @{/images/photo/default-profile.png}"
                            alt="プロフィール画像" class="img-regist-profile" />
                    </div>
                    <div class="div-regist-file">
                        <input type="file" id="imageInput" name="userImage" class="probDetail-file" />
                    </div>

                    <label class="form-regist-label">キーワード</label>
                    <div class="form-regist-partion">
                        <select th:field="*{keyword1}" id="keyword1" class="form-regist-select">
                            <option value="" disabled selected>--選択--</option>
                            <option th:each="k : ${keywordList}" th:value="${k.keywordId}" th:text="${k.keywordName}">
                                キーワード</option>
                        </select>
                        <select th:field="*{keyword2}" id="keyword2" class="form-regist-select">
                            <option value="" disabled selected>--選択--</option>
                            <option th:each="k : ${keywordList}" th:value="${k.keywordId}" th:text="${k.keywordName}">
                                キーワード</option>
                        </select>
                        <select th:field="*{keyword3}" id="keyword3" class="form-regist-select">
                            <option value="" disabled selected>--選択--</option>
                            <option th:each="k : ${keywordList}" th:value="${k.keywordId}" th:text="${k.keywordName}">
                                キーワード</option>
                        </select>
                    </div>
                    <div class="validate-div">
                        <div th:if="${#fields.hasErrors('keyword1')}" th:errors="*{keyword1}" class="validate-error">
                        </div>
                        <div th:if="${#fields.hasErrors('keyword2')}" th:errors="*{keyword2}" class="validate-error">
                        </div>
                        <div th:if="${#fields.hasErrors('keyword3')}" th:errors="*{keyword3}" class="validate-error">
                        </div>
                    </div>

                    <div class="form-regist-partion2">
                        <button type="submit" class="button-header-default">登録</button>
                        <a th:href="@{/index}" class="button-header-default">戻る</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imageInput = document.getElementById("imageInput");
        const previewImage = document.getElementById("previewImage");

        imageInput.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>